html {
    font-family: Go, Helvetica, Arial, sans-serif;
}

.clickable {
    cursor: pointer;
}

#app {
    max-width: 600px;
    margin: auto;
}

header {
    margin: 20px 0;
}

header>h1 {
    display: inline-block;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    header>h1 {
        font-size: large;
    }
}

header>.floatright {
    float: right;
}

.box {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 0 2px grey;
    border-radius: 3px;
}

.box.checked {
    background-color: lime;
    border-color: limegreen;
    box-shadow: 0 2px limegreen;
}

#add-habit {
    margin-top: 30px;
    background-color: blanchedalmond;
}

#change-habit {
    background-color: lightblue;
}

#remove-habit {
    background-color: coral;
}